body {
    background-color: #10c42b;
}

header {
    text-align: center;
    color: #10c42b;
    background-image: url(https://w0.peakpx.com/wallpaper/506/344/HD-wallpaper-rick-and-morty-in-outer-space.jpg);
    height: 250px;
    padding-top: 25px;
    margin: -12px;
}

footer {
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    position: fixed;
    padding: 20px 10px 10px 10px;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: black;
}